.head-tit{
  background-color: white !important;
  color: blue !important;
}

.caro-but{
  display: flex;
  justify-content: end;
  
}

.crd-cont{
  margin-top: -10px;
}

.foot-all li{
  padding-top: 10px;
  
}

.play-store{
  width: 200px;
}



.play-app{
  background-color: rgb(198, 189, 189);
}


.foot-all{
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  /* text-align: center; */
}

.list-company{
  list-style: none;
}

/* .crd-prc{
  
} */

.star-icn{
  background-color: rgb(6, 188, 6);
  color: white;
  font-size: 9px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px){
  .carou-wid{
    width: 590px !important;
   }
}

@media only screen and (max-width: 600px){
 .carou-wid{
  width: 200px !important;
 }

 .caro-but{
  padding-right: 30px !important;
 }
 .carou-hed{
  padding-left: 0 !important;
 }

 .crd-fod{
  margin-left: 15px;
 }

 .leg-lig{
  padding-top: 40px !important;
 }

 .play-store{
  padding-left: 0 !important;
  width: 50% !important;
 }
}